*~
\#*\#

container/*.sif
.nextflow*
work/
*.html
*#

*.vcf
*.vcf.gz
*.fq.gz

__test/
main_test.nf*
*~
.nextflow*
work/
*.sif
*.png
data/
test_run_*
test.timeline*
test.dag*
git.hash

TEST_CMD.sh
Code_style.md
TODO.md
*_test.config
*log

.venv
.env
venv
env

