/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*ALIGN_SENTIEON:.*' {
        container = "${params.container_dir}/sentieon_202112.sif"
    }

    withName: '.*ALIGN_SENTIEON:BWA_ALIGN_SHARD' {
        ext.when    = params.shardbwa
        ext.args    = { "-M -R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:illumina\" -K ${params.K_size} -p ${params.genome_file}" } 
        ext.args2   = { "-F ${shard}/${params.bwa_shards} -K ${params.K_size}"}
        ext.args3   = { "-r ${params.genome_file} "}
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_SENTIEON:BWA_MERGE_SHARDS' {
        ext.prefix  = { "${meta.id}" }
    }
    
    withName: '.*ALIGN_SENTIEON:BAM_CRAM' {
        ext.args    = { "-r ${params.genome_file} --algo ReadWriter --cram_write_options version=3.0" }
        ext.prefix  = { "${meta.id}" }
    }
    
    withName: '.*ALIGN_SENTIEON:MARKDUP' {
        ext.args    = { "--fun score_info score.gz" }
        ext.args2   = { "--rmdup --score_info score.gz --cram_write_options version=3.0" }
        ext.args3   = { "-r ${params.genome_file} "  }
    }

    withName: '.*ALIGN_SENTIEON:REALIGN_INDEL_BQSR' {
        ext.args    = { "-r ${params.genome_file}" }    // reference and common arguments for driver
        ext.args2   = { "-k ${params.known} --cram_write_options version=3.0" }
        ext.args3   = { "-k ${params.dbSnp} -k ${params.known}" }                           // algo specific arguments
        ext.prefix  = { "${meta.id}" }
    }
 
    withName: '.*ALIGN_SENTIEON:SENTIEON_QC' {
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/QC",
            mode: 'copy',
            overwrite: true,
            pattern: '*.QC*'
        ]
	    container = '/fs1/resources/containers/wgs_active.sif'
        ext.args    = { "-r ${params.genome_file}" }                                                                            // reference 
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_SENTIEON:CRAM_TO_BAM' {

	    container = '/fs1/resources/containers/wgs_active.sif'
        ext.args    = { "-b -T ${params.genome_file}" }                                                                            // reference 
        ext.prefix  = { "${meta.id}" }
    }


}