/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SomaticPanelPipeline Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = 2
    memory = 6.GB
    time   = {4.h * task.attempt}

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


    withLabel: process_min_cpus {
        cpus   = 2
    }

    withLabel: process_very_few_cpus {
        cpus   = 10
    }

    withLabel: process_few_cpus {
        cpus   = 20
    }

    withLabel: process_medium_cpus {
        cpus   = 40
    }

    withLabel: process_many_cpus {
        cpus   = 60
    }

    withLabel: process_too_many_cpus {
        cpus   = 80
    }

    withLabel: process_min_memory {
        memory  = 6.GB
    }

    withLabel: process_very_less_memory {
        memory  = 10.GB
    }

    withLabel: process_less_memory {
        memory  = 30.GB
    }

    withLabel: process_medium_memory {
        memory  = 60.GB
    }

    withLabel: process_high_memory {
        memory = 120.GB
    }

    withLabel: process_very_high_memory {
        memory = 180.GB
    }

    withLabel: process_too_short {
        time   = {20.m * task.attempt}
    }

    withLabel: process_less_time {
        time   = {1.h * task.attempt}
    }

    withLabel: process_medium_time {
        time   = {3.h * task.attempt}
    }

    withLabel: process_more_time {
        time   = {10.h * task.attempt}
    }

    withLabel: process_very_long_time {
        time   = {20.h * task.attempt}
    }

    withLabel: process_single {
        cpus   = 2
        memory = 6.GB
        time   = {2.h * task.attempt}
    }

    withLabel: process_low {
        cpus   = 4
        memory = 12.GB
        time   = {2.h * task.attempt}
    }

    withLabel: process_medium {
        cpus   = 10
        memory = 36.GB
        time   = {8.h * task.attempt}
    }

    withLabel: process_high {
        cpus   = 20
        memory = 72.GB
        time   = {16.h * task.attempt}
    }

    withLabel: process_very_high {
        cpus   = 30
        memory = 90.GB
        time   = {16.h * task.attempt}
    }

    withLabel: process_alot {
        cpus   = 54
        memory = 128.GB
        time   = {16.h * task.attempt}
    }

    withLabel: error_ignore {
        errorStrategy   = 'ignore'
    }

    withLabel: error_retry {
        errorStrategy   = 'retry'
        maxRetries      = 2
    }

    withLabel: max_errors {
        errorStrategy   = 'retry'
        maxErrors       = 5
    }

    withLabel: stage {
        stageInMode     = 'copy'
        stageOutMode    = 'copy'
    }

    withLabel: scratch {
        scratch = true
    }
}