/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*SAMPLE:SEQTK' {
        container = "${params.container_dir}/seqtk_1.3.sif"

        ext.when    = params.sample
        ext.args    = { "-s 1234" }
        ext.prefix  = { "${meta.clarity_sample_id}_${meta.clarity_pool_id}" }
    }

    withName: '.*SAMPLE:FASTP' {
        container = "${params.container_dir}/fastp_0.23.sif"

        ext.when    = params.sample
        ext.args    = { "--average_qual 20 --length_required 50 --qualified_quality_phred 20" }
        ext.prefix  = { "${meta.id}.${meta.type}" }
    }
}