/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*SNV_ANNOTATE:PON_FILTER' {
        container = "${params.container_dir}/tumwgs_2022-02-08.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SNV_ANNOTATE:ANNOTATE_VEP' {
        container = params.vepcon

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = [ 
            "--offline --merged --everything --vcf --no_stats --force_overwrite",
            "--plugin CADD ${params.CADD}",
            "--plugin LoFtool",
            "--fasta ${params.VEP_FASTA}",
            "--dir_cache ${params.VEP_CACHE}",
            "--dir_plugins ${params.VEP_CACHE}/Plugins",
            "--distance 200",
            "--custom ${params.GNOMAD},gnomADg,vcf,exact,0,AF_popmax,AF,popmax",
            "--custom ${params.COSMIC},COSMIC,vcf,exact,0,CNT",
            "--cache",
        ].join(' ')
    }

    withName: '.*SNV_ANNOTATE:FILTER_PANEL' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "$params.PANEL_SNV" }

    }

    withName: '.*SNV_ANNOTATE:MARK_GERMLINES' {
        container = "${params.container_dir}/perl_xmljson.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "--assay ${params.markgermline}" }
    }

    withName: '.*SNV_ANNOTATE:FILTER_FOR_CNV' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "-header" }
    }

    withName: '.*SNV_ANNOTATE:CONTAMINATION' {
        container = "${params.container_dir}/perl-gd.sif"

        publishDir = [
            [ 
                path: "${params.outdir}/${params.subdir}/QC/contamination",
                mode: 'copy',
                overwrite: true,
                pattern: "*.png",
            ],
            [ 
                path: "${params.outdir}/${params.subdir}/QC/contamination",
                mode: 'copy',
                overwrite: true,
                pattern: "*.txt",
            ],
            [ 
                path: "${params.crondir}/contamination",
                mode: 'copy',
                overwrite: true,
                pattern: "*.contaminationpy",
            ],
        ]

        ext.args    = { "--assay ${params.cdm} --detect-level 0.01" }
        ext.args2   = { "--assay ${params.cdm} --detect-level 0.01 --normal" }
    }

    withName: '.*SNV_ANNOTATE:VCFANNO' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "-lua /fs1/resources/ref/hg19/bed/scout/sv_tracks/silly.lua ${params.vcfanno}" }
    }
}
