/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/


process { 

    withName: '.*SV_CALLING:MANTA' {
        container = "${params.container_dir}/tumwgs_2022-02-08.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/manta/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.vcf'
        ]

        ext.when    = params.manta
        ext.args    = { "--reference ${params.genome_file}" }
        ext.args2   = { "-m local -j ${task.cpus}" }
    }


    withName: '.*SV_CALLING:SNPEFF' {
        container = "${params.container_dir}/snpeff_4.3.1t2.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/manta/",
            mode: 'copy',
            overwrite: true,
            pattern: '*.vcf',
        ]

        ext.args    = { "-configOption data.dir=${params.refpath}/snpeff/ GRCh38.86" }
    }


    withName: '.*SV_CALLING:FILTER_FUSIONS_PANEL' {
        container = "${params.container_dir}/tumwgs_2022-02-08.sif"
        
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/manta",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args    = {"$params.PANEL_FUS"}
    }

}

