process {

    withName: SEQTK {
        cpus            = 5
        memory          = '128GB'
        time            = '3h'
        errorStrategy   = 'retry'
        maxErrors       = 5
    }

    withName: FASTP {
        cpus            = 15
        memory          = '128GB'
        time            = '2h'
        errorStrategy   = 'retry'
        maxErrors       = 5
    }


}